//- vars
block vars
doctype html
head
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-228128786-1")
    script
        |window.dataLayer = window.dataLayer || [];
        |function gtag(){dataLayer.push(arguments);}
        |gtag('js', new Date());
        |gtag('config', 'UA-228128786-1');
    meta(name="viewport" content='width=750,user-scalable=yes')
    meta(name="format-detection", content="telephone=no")
    meta(name="SKYPE_TOOLBAR", content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
html(lang='ja')
    head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# " + pageOgpType + ": http://ogp.me/ns/" + pageOgpType + "#")
        title こんひな〜

        //- CSS Setting
        link(rel='stylesheet', href="./css/style.css?v=201903-01")
        block link

    body#g(class=bodyClass)
        script
            | var isPC = true;
            | (function () { if (navigator.userAgent.toLowerCase().match(/iphone|ipad|android/)) { document.body.classList.add('sp');isPC=false;return; } document.body.classList .add('pc'); })();
        //block body
        .header-nav
            .button-twitter
                a.twitter-share-button(href!="https://twitter.com/share?text=こんひな～", data-show-count="false") Tweet

        #wrapper
            main.mainContent
                h1 こんひな〜
                p.desc_top
                    a(href="https://www.youtube.com/channel/UCvUc0m317LWTTPZoBQV479A", target="_blank") ひなーの
                    |が喋ってくれるよ。
                    br
                    |バカデカ大声が多いので音量には注意してね。
                    br
                    |このサイトは
                    a(href="https://twitter.com/niltea", target="_blank") 渋澤タカシさん
                    |の
                    a(href="https://github.com/niltea/hanarisa-button", target="_blank") ソースコード
                    |を改変して作成されています。

                .singleButtonWrapper
                    .button_wrapper#singleButtonWrapper
                    .content
                        p
                            a(href="/hinano-button/") 一覧に戻る
                .multiButtonWrapper
                    ul.example3
                        li.pre &#x524D;&#x3078;
                        li.this 1
                        li
                            a(href='index2.html') 2
                        li
                            a(href='index3.html') 3
                        li
                            a(href='index4.html') 4
                        li
                            a(href='index5.html') 5
                        li
                            a(href='index2.html') &#x6B21;&#x3078;
                    .buttons
                        #text-button(onclick="location.href='all.html'") 一覧表示
                    .movie_wrapper
                            h2.movie_title
                                a(href="https://www.youtube.com/watch?v=5HK744KWGEo", target="_blank") 【 Supermarket Simulator 】ｯｼｬｲﾏｾｰ【ぶいすぽっ！/橘ひなの】
                            .button_wrapper
                                .button.button-play(data-voice="IsiKdTyEZD0-4h28m29s") 目覚ましボイス
                                .button.button-play(data-voice="5HK744KWGEo-1h03m18s") ﾊｲｰ、ﾀﾀﾞｲﾏｰ
                                .button.button-play(data-voice="5HK744KWGEo-2h01m35s") けえってくれ!
                                .button.button-play(data-voice="5HK744KWGEo-0h5m31s") ｯｼｬｲﾏｾｰ
                                .button.button-play(data-voice="5HK744KWGEo-0h7m13s") ｱｻﾞｼﾀｰ
                                .button.button-play(data-voice="5HK744KWGEo-2h11m52s") ﾋﾟｨ
                    .movie_wrapper
                            h2.movie_title
                                a(href="https://www.youtube.com/watch?v=LBBUCNerGqQ", target="_blank") インターネット最高
                            .button_wrapper
                                .button.button-play(data-voice="LBBUCNerGqQ-0h29m10s") Happy Happy Happy Hinano
                                .button.button-play(data-voice="LBBUCNerGqQ-0h28m39s") チピチピチャパチャパ
                                .button.button-play(data-voice="LBBUCNerGqQ-0h29m44s") はァ？
                    .movie_wrapper
                            h2.movie_title
                                a(href="https://www.youtube.com/watch?v=kZGeyKyMWvc", target="_blank") 【 ポケモンSVゼロの秘宝 藍の円盤 】#3　ここがエリアゼロかぁ・・・【ぶいすぽっ！/橘ひなの】
                            .button_wrapper
                                .button.button-play(data-voice="kZGeyKyMWvc-0h15m44s") ステラｱｱｱｱｱｱ
                                .button.button-play(data-voice="kZGeyKyMWvc-0h40m37s") とんでもないよ！
                    .movie_wrapper
                            h2.movie_title
                                a(href="https://www.youtube.com/watch?v=oA8kpTNdXhY", target="_blank") 【 ポケモンSVゼロの秘宝 】#1　 DLCいくぞおおお！！！【ぶいすぽっ！/橘ひなの】
                            .button_wrapper
                                .button.button-play(data-voice="oA8kpTNdXhY-0h42m56s") よろしくおねがいしまーす！
                                .button.button-play(data-voice="oA8kpTNdXhY-1h25m18s") ヤー！パワー！
                                .button.button-play(data-voice="oA8kpTNdXhY-2h12m11s") ﾎﾝﾄー
                                .button.button-play(data-voice="oA8kpTNdXhY-2h38m55s") にぱー☆
                                .button.button-play(data-voice="oA8kpTNdXhY-2h50m38s") きゃわちい
                                .button.button-play(data-voice="oA8kpTNdXhY-4h11m18s") まずーーい
                                .button.button-play(data-voice="oA8kpTNdXhY-4h13m43s") おほー
                                .button.button-play(data-voice="oA8kpTNdXhY-4h26m04s") が、がおー
                                .button.button-play(data-voice="oA8kpTNdXhY-4h26m37s") きちゃー！
                                .button.button-play(data-voice="oA8kpTNdXhY-4h10m11s") ミシロタウン
                                .button.button-play(data-voice="mishiro") ミシロタウンン(編集版未完成)
                    .movie_wrapper
                            h2.movie_title
                                a(href="https://www.youtube.com/watch?v=gxuIPRF9Tug", target="_blank") 【 ゼルダの伝説ムジュラの仮面 】#2 今日も神殿へ【 ぶいすぽっ！/橘ひなの 】
                            .button_wrapper
                                .button.button-play(data-voice="gxuIPRF9Tug-2h26m38s") 肉焼き
                                .button.button-play(data-voice="yakiniku") ひなーの肉焼きセット
                                .button.button-play(data-voice="gxuIPRF9Tug-4h49m40s") メスガキひなーの
                                .button.button-play(data-voice="gxuIPRF9Tug-6h20m32s") マジやめてー
                                .button.button-play(data-voice="gxuIPRF9Tug-5h57m36s") だめなんでちゅか？
                                .button.button-play(data-voice="gxuIPRF9Tug-6h02m00s") イターイ
                                .button.button-play(data-voice="gxuIPRF9Tug-5h33m54s") おかしくなっちゃうよー！
                                .button.button-play(data-voice="gxuIPRF9Tug-5h30m50s") きもちー
                                .button.button-play(data-voice="gxuIPRF9Tug-5h29m19s") 絶望
                                .button.button-play(data-voice="gxuIPRF9Tug-5h29m06s") 吐息
                                .button.button-play(data-voice="gxuIPRF9Tug-5h27m21s") センス〇
                                .button.button-play(data-voice="gxuIPRF9Tug-5h27m26s") ｼｬ、ｵﾗ!
                                .button.button-play(data-voice="gxuIPRF9Tug-5h23m02s") ez
                                .button.button-play(data-voice="gxuIPRF9Tug-5h18m28s") 遊んでる場合じゃないから！
                                .button.button-play(data-voice="gxuIPRF9Tug-5h05m37s") なるほどー
                                .button.button-play(data-voice="gxuIPRF9Tug-5h20m18s") 台パン その14
                                .button.button-play(data-voice="gxuIPRF9Tug-5h08m07s") ツン
                                .button.button-play(data-voice="gxuIPRF9Tug-5h07m14s") そんな～
                                .button.button-play(data-voice="gxuIPRF9Tug-5h01m27s") ちょっと聞いてる？
                                .button.button-play(data-voice="gxuIPRF9Tug-4h55m24s") 対ヨロ
                                .button.button-play(data-voice="gxuIPRF9Tug-4h50m12s") かな？
                                .button.button-play(data-voice="gxuIPRF9Tug-4h45m58s") すごいんだ！
                                .button.button-play(data-voice="gxuIPRF9Tug-4h43m55s") しょーもな
                                .button.button-play(data-voice="gxuIPRF9Tug-4h30m52s") ばーかーーー
                                .button.button-play(data-voice="gxuIPRF9Tug-4h28m53s") はん
                                .button.button-play(data-voice="gxuIPRF9Tug-3h44m48s") 楽しいな～
                                .button.button-play(data-voice="gxuIPRF9Tug-3h40m58s") どけ！
                                .button.button-play(data-voice="gxuIPRF9Tug-3h40m00s") なにやってるの？
                                .button.button-play(data-voice="gxuIPRF9Tug-3h35m32s") 音無
                                .button.button-play(data-voice="gxuIPRF9Tug-3h33m39s") ふざけやがって！
                                .button.button-play(data-voice="gxuIPRF9Tug-3h33m25s") お前かーい！
                                .button.button-play(data-voice="gxuIPRF9Tug-3h30m06s") めんどくさーい
                                .button.button-play(data-voice="gxuIPRF9Tug-3h50m21s") 迷子でちゅ
                                .button.button-play(data-voice="gxuIPRF9Tug-3h24m51s") どーしろっちゅーねん
                                .button.button-play(data-voice="gxuIPRF9Tug-3h11m41s") わかったぞ！(分かってない)
                                .button.button-play(data-voice="gxuIPRF9Tug-3h10m49s") 天の才
                                .button.button-play(data-voice="gxuIPRF9Tug-2h55m40s") 母の教え
                                .button.button-play(data-voice="gxuIPRF9Tug-2h48m40s") ねも最
                                .button.button-play(data-voice="gxuIPRF9Tug-2h42m24s") はーーーーーー
                                .button.button-play(data-voice="gxuIPRF9Tug-2h34m00s") これだめーー！
                                .button.button-play(data-voice="gxuIPRF9Tug-2h17m00s") おｓｓｓｓｓｓｓｓｓｓｓｓそ
                                .button.button-play(data-voice="gxuIPRF9Tug-2h12m52s") カチカチね
                                .button.button-play(data-voice="gxuIPRF9Tug-1h45m5s") どーちたの？
                                .button.button-play(data-voice="gxuIPRF9Tug-1h19m32s") ンゴーーー
                                .button.button-play(data-voice="gxuIPRF9Tug-1h16m45s") アオーーン
                                .button.button-play(data-voice="gxuIPRF9Tug-1h05m33s") 壊れるんだ！
                                .button.button-play(data-voice="gxuIPRF9Tug-0h58m44s") ネタバレ禁止
                                .button.button-play(data-voice="gxuIPRF9Tug-7h21m29s") 差せー！差せー！
                                .button.button-play(data-voice="gxuIPRF9Tug-8h28m10s") 無りぽ
                    .movie_wrapper
                            h2.movie_title
                                a(href="https://www.youtube.com/watch?v=gYMm_vb3XTc", target="_blank") 【 ゼルダの伝説夢をみる島 】#５ 多分きっと最終回【 ぶいすぽっ！/橘ひなの 】
                            .button_wrapper    
                                .button.button-play(data-voice="gYMm_vb3XTc-0h17m55s") でっか
                                .button.button-play(data-voice="gYMm_vb3XTc-0h21m45s") KY
                                .button.button-play(data-voice="gYMm_vb3XTc-0h21m13s") きゃ！びっくりした
                                .button.button-play(data-voice="gYMm_vb3XTc-0h21m14s") ごめん、なんでもない
                                .button.button-play(data-voice="gYMm_vb3XTc-0h32m33s") これか！
                                .button.button-play(data-voice="gYMm_vb3XTc-0h50m21s") おっこちた～
                                .button.button-play(data-voice="gYMm_vb3XTc-0h52m53s") ちょっとまってよ！
                                .button.button-play(data-voice="gYMm_vb3XTc-0h58m52s") しけ
                                .button.button-play(data-voice="gYMm_vb3XTc-1h01m32s") コントローラー投げ　その2
                                .button.button-play(data-voice="gYMm_vb3XTc-1h10m35s") しつこい
                                .button.button-play(data-voice="gYMm_vb3XTc-1h21m00s") さすがの橘さんでも？
                                .button.button-play(data-voice="gYMm_vb3XTc-1h35m45s") いけっ！
                                .button.button-play(data-voice="gYMm_vb3XTc-2h33m35s") ウルリラー
                                .button.button-play(data-voice="gYMm_vb3XTc-2h44m14s") Let's go
                                .button.button-play(data-voice="gYMm_vb3XTc-2h45m5s") ふ～～ん
                                .button.button-play(data-voice="gYMm_vb3XTc-2h49m00s") うざ
                                .button.button-play(data-voice="gYMm_vb3XTc-2h49m28s") ほらね！
                                .button.button-play(data-voice="gYMm_vb3XTc-2h51m28s") いくぞー！
                                .button.button-play(data-voice="gYMm_vb3XTc-3h1m21s") 死にたくない！
                                .button.button-play(data-voice="gYMm_vb3XTc-3h7m3s") →
                                .button.button-play(data-voice="gYMm_vb3XTc-3h07m20s") ←
                                .button.button-play(data-voice="gYMm_vb3XTc-3h10m15s") ↑
                                .button.button-play(data-voice="gYMm_vb3XTc-3h14m15s") 上手すぎ！
                                .button.button-play(data-voice="gYMm_vb3XTc-3h15m17s") どこ？
                    .movie_wrapper
                            h2.movie_title
                                a(href="https://www.youtube.com/watch?v=k_eOhINI4xk", target="_blank") 【 ゼルダの伝説ムジュラの仮面 】すみません初見です【 ぶいすぽっ！/橘ひなの 】
                            .button_wrapper
                                .button.button-play(data-voice="k-eOhINI4xk-0h26m44s") いらっしゃ～い♡
                                .button.button-play(data-voice="k-eOhINI4xk-1h1m11s") ハッハッハ
                                .button.button-play(data-voice="k-eOhINI4xk-0h0m0s") ガティ？
                                .button.button-play(data-voice="k-eOhINI4xk-1h11m31s") まぁ、いいや
                                .button.button-play(data-voice="k-eOhINI4xk-1h17m16s") 忘れてない？
                                .button.button-play(data-voice="k-eOhINI4xk-3h14m35s") 届け！俺の思い！
                                .button.button-play(data-voice="k-eOhINI4xk-4h43m46s") 根に持たないでよ！
                                .button.button-play(data-voice="k-eOhINI4xk-4h45m39s") お父様のバカ！
                                .button.button-play(data-voice="k-eOhINI4xk-4h45m13s") ひなピー
                                .button.button-play(data-voice="k-eOhINI4xk-4h48m25s") 台パン その12
                                .button.button-play(data-voice="k-eOhINI4xk-4h51m33s") 発狂
                                .button.button-play(data-voice="k-eOhINI4xk-4h59m55s") 台パン その13
                                .button.button-play(data-voice="k-eOhINI4xk5h01m19s") じじぃふざけんな！
                                .button.button-play(data-voice="k-eOhINI4xk-0h16m11s") 簡単なことじゃないですか
                                .button.button-play(data-voice="k-eOhINI4xk-0h16m45s") では、よろしく
                                .button.button-play(data-voice="k-eOhINI4xk-2h22m22s") ほっぺ
                                .button.button-play(data-voice="k-eOhINI4xk-3h33m33s") 自己暗示
                    ul.example3
                        li.pre &#x524D;&#x3078;
                        li.this 1
                        li
                            a(href='index2.html') 2
                        li
                            a(href='index3.html') 3
                        li
                            a(href='index4.html') 4
                        li
                            a(href='index5.html') 5
                        li
                            a(href='index2.html') &#x6B21;&#x3078;
                .infoWrapper#infoWrapper
                    p
                        a(href='#', target='_blank')#fixedLink このボタンへのリンク

                .ad_wrapper
                    h2 advertisement
                    .ad-item
                        a(href="https://vggc.info/", target="_blank")
                            img(src="https://vggc.info/img/banner.png")
                            span ぶいすぽっ！ オンリー同人誌即売会 VGGC
                    .ad-item
                        a(href="https://holokle.info/", target="_blank")
                            img(src="https://holokle.info/img/banner.png")
                            span ホロライブオンリー同人誌即売会 ホロクル
            .mainFooter
                .credit
                    p 音声等の権利は、全て元権利者に帰属します。
                    p 音声以外の部分については、<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/deed.ja" target="_blank">CC-BY-NC-SA-4.0</a>に基づき提供されています。<br>
                        |ソースコードは<a href="https://github.com/p-knot/hinano-button/tree/master" target="_blank">こちら</a>。<br>お問い合わせ・追加したら面白そうなボイスがあれば
                        a(href="https://twitter.com/p_knot_vb", target="_blank") @p_knot_vb
                        |まで。
    script(src='./js/app.js')

    script(async, src="https://platform.twitter.com/widgets.js", charset="utf-8")
