//- vars
block vars
doctype html
head
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-228128786-1")
    script
        |window.dataLayer = window.dataLayer || [];
        |function gtag(){dataLayer.push(arguments);}
        |gtag('js', new Date());
        |gtag('config', 'UA-228128786-1');
    meta(name="viewport" content='width=750,user-scalable=yes')
    meta(name="format-detection", content="telephone=no")
    meta(name="SKYPE_TOOLBAR", content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
html(lang='ja')
    head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# " + pageOgpType + ": http://ogp.me/ns/" + pageOgpType + "#")
        title こんひな〜

        //- CSS Setting
        link(rel='stylesheet', href="./css/style.css?v=201903-01")
        block link

    body#g(class=bodyClass)
        script
            | var isPC = true;
            | (function () { if (navigator.userAgent.toLowerCase().match(/iphone|ipad|android/)) { document.body.classList.add('sp');isPC=false;return; } document.body.classList .add('pc'); })();
        //block body
        .header-nav
            .button-twitter
                a.twitter-share-button(href!="https://twitter.com/share?text=こんひな～", data-show-count="false") Tweet

        #wrapper
            main.mainContent
                h1 こんひな〜
                p.desc_top
                    a(href="https://www.youtube.com/channel/UCvUc0m317LWTTPZoBQV479A", target="_blank") ひなーの
                    |が喋ってくれるよ。
                    br
                    |バカデカ大声が多いので音量には注意してね。
                    br
                    |このサイトは
                    a(href="https://twitter.com/niltea", target="_blank") 渋澤タカシさん
                    |の
                    a(href="https://github.com/niltea/hanarisa-button", target="_blank") ソースコード
                    |を改変して作成されています。

                .singleButtonWrapper
                    .button_wrapper#singleButtonWrapper
                    .content
                        p
                            a(href="/hinano-button/") 一覧に戻る
                .multiButtonWrapper
                    ul.example3
                        li.pre &#x524D;&#x3078;
                        li.this 1
                        li
                            a(href='index2.html') 2
                        li
                            a(href='index3.html') 3
                        li
                            a(href='index4.html') 4
                        li
                            a(href='index2.html') &#x6B21;&#x3078;
                    .buttons
                        #text-button(onclick="location.href='all.html'") 一覧表示
                    .movie_wrapper
                            h2.movie_title
                                a(href="https://www.twitch.tv/videos/1868873074", target="_blank") ねむい
                            .button_wrapper
                                .button.button-play(data-voice="1868873074-0h19m25s") コッ!コッ!コッ!
                                .button.button-play(data-voice="18688730740h26m45s") ひなーの言語検定 その１
                                .button.button-play(data-voice="1868873074-0h30m36s") め組のひと
                                .button.button-play(data-voice="1868873074-0h33m39s") オホホー！
                                .button.button-play(data-voice="1868873074-0h33m53s") 生を実感するとき
                                .button.button-play(data-voice="1868873074-0h35m49s") お母さーん！
                                .button.button-play(data-voice="1868873074-0h44m19s") 可愛いじゃん
                                .button.button-play(data-voice="1868873074-1h09m17s") 成仏できるわ
                                .button.button-play(data-voice="1868873074-1h30m25s") あぶねー
                                .button.button-play(data-voice="1868873074-1h35m39s") 台パン その10
                                .button.button-play(data-voice="1868873074-1h36m01s") 旦那さん見つけるモン
                                .button.button-play(data-voice="1868873074-1h37m50s") なるほどねー
                                .button.button-play(data-voice="1868873074-1h44m00s") なんとかしてくれい
                                .button.button-play(data-voice="1868873074-1h44m02s") えぐーい!
                                .button.button-play(data-voice="1868873074-1h59m51s") 俺はハンターだ
                                .button.button-play(data-voice="1868873074-2h01m08s") ソーリーすぎ
                                .button.button-play(data-voice="1868873074-3h07m37s") おもしろくない
                                .button.button-play(data-voice="1868873074-3h38m4s") 限界化ひなーの
                                .button.button-play(data-voice="1868873074-3h39m47s") きっも その2
                    ul.example3
                        li.pre &#x524D;&#x3078;
                        li.this 1
                        li
                            a(href='index2.html') 2
                        li
                            a(href='index3.html') 3
                        li
                            a(href='index4.html') 4
                        li
                            a(href='index2.html') &#x6B21;&#x3078;
                .infoWrapper#infoWrapper
                    p
                        a(href='#', target='_blank')#fixedLink このボタンへのリンク

                .ad_wrapper
                    h2 advertisement
                    .ad-item
                        a(href="https://vggc.info/", target="_blank")
                            img(src="https://vggc.info/img/banner.png")
                            span ぶいすぽっ！ オンリー同人誌即売会 VGGC
                    .ad-item
                        a(href="https://holokle.info/", target="_blank")
                            img(src="https://holokle.info/img/banner.png")
                            span ホロライブオンリー同人誌即売会 ホロクル
            .mainFooter
                .credit
                    p 音声等の権利は、全て元権利者に帰属します。
                    p 音声以外の部分については、<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/deed.ja" target="_blank">CC-BY-NC-SA-4.0</a>に基づき提供されています。<br>
                        |ソースコードは<a href="https://github.com/p-knot/hinano-button/tree/master" target="_blank">こちら</a>。<br>お問い合わせ・追加したら面白そうなボイスがあれば
                        a(href="https://twitter.com/p_knot_vb", target="_blank") @p_knot_vb
                        |まで。
    script(src='./js/app.js')

    script(async, src="https://platform.twitter.com/widgets.js", charset="utf-8")
