//- vars
block vars
doctype html
head
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-228128786-1")
    script
        |window.dataLayer = window.dataLayer || [];
        |function gtag(){dataLayer.push(arguments);}
        |gtag('js', new Date());
        |gtag('config', 'UA-228128786-1');
    meta(name="viewport" content='width=750,user-scalable=yes')
    meta(name="format-detection", content="telephone=no")
    meta(name="SKYPE_TOOLBAR", content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
html(lang='ja')
    head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# " + pageOgpType + ": http://ogp.me/ns/" + pageOgpType + "#")
        title こんひな〜

        //- CSS Setting
        link(rel='stylesheet', href="./css/style.css?v=201903-01")
        block link

    body#g(class=bodyClass)
        script
            | var isPC = true;
            | (function () { if (navigator.userAgent.toLowerCase().match(/iphone|ipad|android/)) { document.body.classList.add('sp');isPC=false;return; } document.body.classList .add('pc'); })();
        //block body
        .header-nav
            .button-twitter
                a.twitter-share-button(href!="https://twitter.com/share?text=こんひな～", data-show-count="false") Tweet

        #wrapper
            main.mainContent
                h1 こんひな〜
                p.desc_top
                    a(href="https://www.youtube.com/channel/UCvUc0m317LWTTPZoBQV479A", target="_blank") ひなーの
                    |が喋ってくれるよ。
                    br
                    |バカデカ大声が多いので音量には注意してね。
                    br
                    |このサイトは
                    a(href="https://twitter.com/niltea", target="_blank") 渋澤タカシさん
                    |の
                    a(href="https://github.com/niltea/hanarisa-button", target="_blank") ソースコード
                    |を改変して作成されています。

                .singleButtonWrapper
                    .button_wrapper#singleButtonWrapper
                    .content
                        p
                            a(href="/hinano-button/") 一覧に戻る
                .multiButtonWrapper
                    ul.example3
                        li.pre &#x524D;&#x3078;
                        li.this 1
                        li
                            a(href='index2.html') 2
                        li
                            a(href='index3.html') 3
                        li
                            a(href='index2.html') &#x6B21;&#x3078;
                    .buttons
                        #text-button(onclick="location.href='all.html'") 一覧表示
                    .movie_wrapper
                            h2.movie_title
                                a(href="https://www.youtube.com/watch?v=ZrsVqETNmFc", target="_blank") 【YUMENIKKI -DREAM DIARY- 】自分が夢から出れなくなってた【 ぶいすぽっ！/橘ひなの 】
                            .button_wrapper
                                .button.button-play(data-voice="ZrsVqETNmFc-0h28m43s") なんだってー!!
                                .button.button-play(data-voice="ZrsVqETNmFc-0h39m43s") アナウンス
                                .button.button-play(data-voice="ZrsVqETNmFc-0h43m16s") えいっ!
                                .button.button-play(data-voice="ZrsVqETNmFc-1h29m38s") バカがよー
                                .button.button-play(data-voice="ZrsVqETNmFc-1h40m46s") わっ、わー
                                .button.button-play(data-voice="ZrsVqETNmFc-1h56m56s") おつひなー
                                .button.button-play(data-voice="ZrsVqETNmFc-1h56m59s") ほなねー
                    .movie_wrapper
                            h2.movie_title
                                a(href="https://www.youtube.com/watch?v=AHNqcBqFP9o", target="_blank") 【YUMENIKKI -DREAM DIARY- 】大好きなゲームをやります【 ぶいすぽっ！/橘ひなの 】
                            .button_wrapper
                                .button.button-play(data-voice="AHNqcBqFP9o-0h4m23s") NASUやるか
                                .button.button-play(data-voice="AHNqcBqFP9o-0h6m36s") グルグル
                                .button.button-play(data-voice="AHNqcBqFP9o-0h8m36s") ﾎﾟｲ
                                .button.button-play(data-voice="AHNqcBqFP9o-0h9m57s") ひにゃーの
                                .button.button-play(data-voice="AHNqcBqFP9o-0h12m35s") まってよー
                                .button.button-play(data-voice="AHNqcBqFP9o-0h13m42s") 完全に理解してはない
                                .button.button-play(data-voice="AHNqcBqFP9o-0h17m46s") CPU使用率100%
                                .button.button-play(data-voice="AHNqcBqFP9o-0h25m27s") ♪♩♪♩
                                .button.button-play(data-voice="AHNqcBqFP9o-0h32m44s") きちゃ!
                                .button.button-play(data-voice="AHNqcBqFP9o-0h43m03s") エレベーター到着音
                                .button.button-play(data-voice="AHNqcBqFP9o-1h09m06s") あれえぇ？
                                .button.button-play(data-voice="AHNqcBqFP9o-1h12m58s") ひっっっろ
                                .button.button-play(data-voice="AHNqcBqFP9o-1h15m15s") ｱﾌﾞﾅｰｲ
                                .button.button-play(data-voice="AHNqcBqFP9o-1h15m14s") ｵﾈｶﾞｲ
                                .button.button-play(data-voice="AHNqcBqFP9o-1h18m32s") なー
                                .button.button-play(data-voice="AHNqcBqFP9o-1h18m39s") ﾊｲｯ
                                .button.button-play(data-voice="AHNqcBqFP9o-1h33m35s") ナルホード
                                .button.button-play(data-voice="AHNqcBqFP9o-1h47m17s") どうしましょ？
                                .button.button-play(data-voice="AHNqcBqFP9o-1h488m37s") いっぬ
                                .button.button-play(data-voice="AHNqcBqFP9o-1h21m54s") かかってこいや
                                .button.button-play(data-voice="AHNqcBqFP9o-1h22m02") ごめんなさい
                    .movie_wrapper
                            h2.movie_title
                                a(href="https://www.youtube.com/watch?v=_BJ8YdIcEV0", target="_blank") 【 Apex Legends 】おっほ【ぶいすぽっ！/橘ひなの】
                            .button_wrapper
                                .button.button-play(data-voice="BJ8YdIcEV0-0h4m24s") ま？
                                .button.button-play(data-voice="BJ8YdIcEV0-0h15m34s") いやーん
                                .button.button-play(data-voice="BJ8YdIcEV0-0h30m25s") 詰めちゃうよ～ん
                                .button.button-play(data-voice="BJ8YdIcEV0-0h58m26s") なろう系ひなーの
                                .button.button-play(data-voice="BJ8YdIcEV0--0h00m01s") どこに漁るダ？
                                .button.button-play(data-voice="BJ8YdIcEV0-1h55m34s") え？
                                .button.button-play(data-voice="BJ8YdIcEV02h14m16s") おちるんかい
                                .button.button-play(data-voice="BJ8YdIcEV0-2h27m51s") スキャンヌ
                                .button.button-play(data-voice="BJ8YdIcEV0-2h32m0s") それはそっ！
                                .button.button-play(data-voice="BJ8YdIcEV0-0h0m0s") あぁぁぁ!
                                .button.button-play(data-voice="BJ8YdIcEV0-1h15m59s") ボヤァ　その２
                    .movie_wrapper
                            h2.movie_title
                                a(href="https://www.twitch.tv/hinanotachiba7/video/1702861545", target="_blank") おはようばろらんち
                            .button_wrapper
                                .button.button-play(data-voice="1702861545-2h13m53s") ねーもーほんっ、ちゅ♡
                                .button.button-play(data-voice="1702861545-2h45m23s") ばぶー
                                .button.button-play(data-voice="1702861545-2h54m24s") ハッハッハッハッ
                                .button.button-play(data-voice="1702861545-3h24m41s") ウーバー、ｳｯ
                                .button.button-play(data-voice="1702861545-3h29m53s") ウーバー三段活用
                                .button.button-play(data-voice="1702861545-3h58m33s") よっこいしょ
                                .button.button-play(data-voice="1702861545-4h00m16s") いかれた仲間を紹介するぜ!
                                .button.button-play(data-voice="1702861545-4h10m55s") やってもた
                                .button.button-play(data-voice="1702861545-6h03m53s") まーじでー
                                .button.button-play(data-voice="1702861545-0h2m21s") 声が…
                                .button.button-play(data-voice="1702861545-0h7m39s") クシャミ　その2
                                .button.button-play(data-voice="1702861545-0h12m23s") なんでー!
                                .button.button-play(data-voice="1702861545-0h23m21s") がんばえー
                                .button.button-play(data-voice="1702861545-0h23m44s") ジェットの煽りボイス
                                .button.button-play(data-voice="1702861545-0h29m28s") びっくした
                                .button.button-play(data-voice="1702861545-0h54m21s") Teşekkürler
                                .button.button-play(data-voice="1702861545-1h03m48s") ｵﾎﾎﾎﾎ、ｱﾊﾊﾊﾊ
                                .button.button-play(data-voice="1702861545-1h11m58s") 心のノート読め
                                .button.button-play(data-voice="1702861545-1h11m54s") それスナイプっていうんだよ
                                .button.button-play(data-voice="1702861545-1h17m22s") ひなーなーのせい
                                .button.button-play(data-voice="1702861545-1h19m29s") お前が設置するんだよ!
                                .button.button-play(data-voice="1702861545-1h22m01s") おれがやる
                                .button.button-play(data-voice="1702861545-1h25m27s") はいぱーうるとらあるてぃめっとA
                                .button.button-play(data-voice="1702861545-7h26m52s") ばいばーい
                    .movie_wrapper
                            h2.movie_title
                                a(href="https://www.youtube.com/watch?v=__DrKw8ihXw", target="_blank") 【 ゼルダの伝説時のオカリナ 】続きやるぞ～～～操作方法わすれちゃったよ【 ぶいすぽっ！/橘ひなの 】
                            .button_wrapper
                                .button.button-play(data-voice="DrKw8ihXw-0h5m46s") ﾁｶﾞｳﾁｶﾞｳ
                                .button.button-play(data-voice="DrKw8ihXw-0h13m01s") ダーーー
                                .button.button-play(data-voice="DrKw8ihXw-0h10m22s") はっ!
                                .button.button-play(data-voice="DrKw8ihXw-0h14m03") やめてー
                                .button.button-play(data-voice="DrKw8ihXw-0h18m06s") フィーバー
                                .button.button-play(data-voice="DrKw8ihXw-0h23m08s") オラー
                                .button.button-play(data-voice="DrKw8ihXw-0h30m08s") f*ck
                                .button.button-play(data-voice="DrKw8ihXw-0h38m02s") バカタレー
                                .button.button-play(data-voice="DrKw8ihXw-0h41m07s") まっずーい
                                .button.button-play(data-voice="DrKw8ihXw-0h42m37s") ごまだれー
                                .button.button-play(data-voice="DrKw8ihXw-0h51m30s") いやー
                                .button.button-play(data-voice="DrKw8ihXw-1h47m04s") 役立たず
                                .button.button-play(data-voice="DrKw8ihXw-2h28m21s") 鳴き声
                                .button.button-play(data-voice="DrKw8ihXw-2h33m37s") 台パン　その8
                                .button.button-play(data-voice="DrKw8ihXw-3h45m32s") かっこいー
                                .button.button-play(data-voice="DrKw8ihXw-3h21m28s") はっーー
                                .button.button-play(data-voice="DrKw8ihXw-3h47m23s") でやーー
                                .button.button-play(data-voice="DrKw8ihXw-3h47m02s") リッスン!
                    .movie_wrapper
                            h2.movie_title
                                a(href="https://www.twitch.tv/videos/1697528041", target="_blank") 今日も頑張る
                            .button_wrapper
                                .button.button-play(data-voice="1697528041-0h17m09s") おほほ
                                .button.button-play(data-voice="1697528041-0h36m09s") スバラのたれ
                                .button.button-play(data-voice="1697528041-0h36m25s") wtf
                                .button.button-play(data-voice="1697528041-1h21m43s") やーだー
                                .button.button-play(data-voice="1697528041-1h35m02s") あったってないの～⤴
                                .button.button-play(data-voice="1697528041-1h51m57s") よいしょー
                                .button.button-play(data-voice="1697528041-2h25m03s") ｱﾊｯ!
                                .button.button-play(data-voice="1697528041-2h59m08s") だめー
                                .button.button-play(data-voice="1697528041-4h18m18s") だめなのかな～
                                .button.button-play(data-voice="1697528041-4h18m15s") まずい！
                                .button.button-play(data-voice="1697528041-4h19m08s") おもんな→トイレ
                                .button.button-play(data-voice="1697528041-4h22m19s") パールやらせろ
                                .button.button-play(data-voice="1697528041-4h24m01s") ブラボーひなーの
                                .button.button-play(data-voice="1697528041-4h23m42s") 流してお願い
                    .movie_wrapper
                        h2.movie_title
                            p(style={color: "#aa235e", "font-weight": "bold"}) いつかの罰ゲームボイス
                        .button_wrapper
                            .button.button-play(data-voice="come_back") お帰りご主人
                    .movie_wrapper
                            h2.movie_title
                                a(href="https://www.youtube.com/watch?v=MVjDzOEAIrE", target="_blank") 【Apex Legends】おれあぽＤ１～【ぶいすぽっ！/橘ひなの】
                            .button_wrapper
                                .button.button-play(data-voice="MVjDzOEAIrE&t-1h19m20s") 何カップだと思う?
                    .movie_wrapper
                            h2.movie_title
                                a(href="https://www.youtube.com/watch?v=AYUvEykRRg4", target="_blank") 【 VALORANT 】ヴェア【ぶいすぽっ！/橘ひなの】
                            .button_wrapper
                                .button.button-play(data-voice="O8ywr3tIyz4-1h47m23s") ひなーのって呼ぶな!
                    .movie_wrapper
                            h2.movie_title
                                a(href="https://www.youtube.com/watch?v=Um84lEVruUk", target="_blank") 【Apex Legends】おれあぽ２人でマスターへ行く２【ぶいすぽっ！/橘ひなの】
                            .button_wrapper
                                .button.button-play(data-voice="t967jXDPJgU-9h17m57s") 私も好きだよ
                                .button.button-play(data-voice="t967jXDPJgU-9h17m59s") つまんねーな
                    ul.example3
                        li.pre &#x524D;&#x3078;
                        li.this 1
                        li
                            a(href='index2.html') 2
                        li
                            a(href='index3.html') 3
                        li
                            a(href='index2.html') &#x6B21;&#x3078;
                .infoWrapper#infoWrapper
                    p
                        a(href='#', target='_blank')#fixedLink このボタンへのリンク

                .ad_wrapper
                    h2 advertisement
                    .ad-item
                        a(href="https://vggc.info/", target="_blank")
                            img(src="https://vggc.info/img/banner.png")
                            span ぶいすぽっ！ オンリー同人誌即売会 VGGC
                    .ad-item
                        a(href="https://holokle.info/", target="_blank")
                            img(src="https://holokle.info/img/banner.png")
                            span ホロライブオンリー同人誌即売会 ホロクル
            .mainFooter
                .credit
                    p 音声等の権利は、全て元権利者に帰属します。
                    p 音声以外の部分については、<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/deed.ja" target="_blank">CC-BY-NC-SA-4.0</a>に基づき提供されています。<br>
                        |ソースコードは<a href="https://github.com/p-knot/hinano-button/tree/master" target="_blank">こちら</a>。<br>お問い合わせ・追加したら面白そうなボイスがあれば
                        a(href="https://twitter.com/p_knot_vb", target="_blank") @p_knot_vb
                        |まで。
    script(src='./js/app.js')

    script(async, src="https://platform.twitter.com/widgets.js", charset="utf-8")
