//- vars
block vars
doctype html
head
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-228128786-1")
    script
        |window.dataLayer = window.dataLayer || [];
        |function gtag(){dataLayer.push(arguments);}
        |gtag('js', new Date());
        |gtag('config', 'UA-228128786-1');
    meta(name="viewport" content='width=750,user-scalable=yes')
    meta(name="format-detection", content="telephone=no")
    meta(name="SKYPE_TOOLBAR", content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
html(lang='ja')
    head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# " + pageOgpType + ": http://ogp.me/ns/" + pageOgpType + "#")
        title こんひな〜

        //- CSS Setting
        link(rel='stylesheet', href="./css/style.css?v=201903-01")
        block link

    body#g(class=bodyClass)
        script
            | var isPC = true;
            | (function () { if (navigator.userAgent.toLowerCase().match(/iphone|ipad|android/)) { document.body.classList.add('sp');isPC=false;return; } document.body.classList .add('pc'); })();
        //block body
        .header-nav
            .button-twitter
                a.twitter-share-button(href!="https://twitter.com/share?text=こんひな～", data-show-count="false") Tweet

        #wrapper
            main.mainContent
                h1 こんひな〜
                p.desc_top
                    a(href="https://www.youtube.com/channel/UCvUc0m317LWTTPZoBQV479A", target="_blank") ひなーの
                    |が喋ってくれるよ。
                    br
                    |バカデカ大声が多いので音量には注意してね。
                    br
                    |このサイトは
                    a(href="https://twitter.com/niltea", target="_blank") 渋澤タカシさん
                    |の
                    a(href="https://github.com/niltea/hanarisa-button", target="_blank") ソースコード
                    |を改変して作成されています。

                .singleButtonWrapper
                    .button_wrapper#singleButtonWrapper
                    .content
                        p
                            a(href="/hinano-button/") 一覧に戻る
                .multiButtonWrapper
                    ul.example3
                        li.pre &#x524D;&#x3078;
                        li.this 1
                        li
                            a(href='index2.html') 2
                        li
                            a(href='index3.html') 3
                        li
                            a(href='index4.html') 4
                        li
                            a(href='index5.html') 5
                        li
                            a(href='index2.html') &#x6B21;&#x3078;
                    .buttons
                        #text-button(onclick="location.href='all.html'") 一覧表示
                    .movie_wrapper
                            h2.movie_title
                                a(href="https://www.youtube.com/watch?v=gYMm_vb3XTc", target="_blank") 【 ゼルダの伝説夢をみる島 】#５ 多分きっと最終回【 ぶいすぽっ！/橘ひなの 】
                            .button_wrapper    
                                .button.button-play(data-voice="gYMm_vb3XTc-0h17m55s") でっか
                                .button.button-play(data-voice="gYMm_vb3XTc-0h21m45s") KY
                                .button.button-play(data-voice="gYMm_vb3XTc-0h21m13s") きゃ！びっくりした
                                .button.button-play(data-voice="gYMm_vb3XTc-0h21m14s") ごめん、なんでもない
                                .button.button-play(data-voice="gYMm_vb3XTc-0h32m33s") これか！
                                .button.button-play(data-voice="gYMm_vb3XTc-0h50m21s") おっこちた～
                                .button.button-play(data-voice="gYMm_vb3XTc-0h52m53s") ちょっとまってよ！
                                .button.button-play(data-voice="gYMm_vb3XTc-0h58m52s") しけ
                                .button.button-play(data-voice="gYMm_vb3XTc-1h01m32s") コントローラー投げ　その2
                                .button.button-play(data-voice="gYMm_vb3XTc-1h10m35s") しつこい
                                .button.button-play(data-voice="gYMm_vb3XTc-1h21m00s") さすがの橘さんでも？
                                .button.button-play(data-voice="gYMm_vb3XTc-1h35m45s") いけっ！
                                .button.button-play(data-voice="gYMm_vb3XTc-2h33m35s") ウルリラー
                                .button.button-play(data-voice="gYMm_vb3XTc-2h44m14s") Let's go
                                .button.button-play(data-voice="gYMm_vb3XTc-2h45m5s") ふ～～ん
                                .button.button-play(data-voice="gYMm_vb3XTc-2h49m00s") うざ
                                .button.button-play(data-voice="gYMm_vb3XTc-2h49m28s") ほらね！
                                .button.button-play(data-voice="gYMm_vb3XTc-2h51m28s") いくぞー！
                                .button.button-play(data-voice="gYMm_vb3XTc-3h1m21s") 死にたくない！
                                .button.button-play(data-voice="gYMm_vb3XTc-3h7m3s") →
                                .button.button-play(data-voice="gYMm_vb3XTc-3h07m20s") ←
                                .button.button-play(data-voice="gYMm_vb3XTc-3h10m15s") ↑
                                .button.button-play(data-voice="gYMm_vb3XTc-3h14m15s") 上手すぎ！
                                .button.button-play(data-voice="gYMm_vb3XTc-3h15m17s") どこ？
                    .movie_wrapper
                            h2.movie_title
                                a(href="https://www.youtube.com/watch?v=k_eOhINI4xk", target="_blank") 【 ゼルダの伝説ムジュラの仮面 】すみません初見です【 ぶいすぽっ！/橘ひなの 】
                            .button_wrapper
                                .button.button-play(data-voice="k-eOhINI4xk-0h26m44s") いらっしゃ～い♡
                                .button.button-play(data-voice="k-eOhINI4xk-1h1m11s") ハッハッハ
                                .button.button-play(data-voice="k-eOhINI4xk-0h0m0s") ガティ？
                                .button.button-play(data-voice="k-eOhINI4xk-1h11m31s") まぁ、いいや
                                .button.button-play(data-voice="k-eOhINI4xk-1h17m16s") 忘れてない？
                                .button.button-play(data-voice="k-eOhINI4xk-3h14m35s") 届け！俺の思い！
                                .button.button-play(data-voice="k-eOhINI4xk-4h43m46s") 根に持たないでよ！
                                .button.button-play(data-voice="k-eOhINI4xk-4h45m39s") お父様のバカ！
                                .button.button-play(data-voice="k-eOhINI4xk-4h45m13s") ひなピー
                                .button.button-play(data-voice="k-eOhINI4xk-4h48m25s") 台パン その12
                                .button.button-play(data-voice="k-eOhINI4xk-4h51m33s") 発狂
                                .button.button-play(data-voice="k-eOhINI4xk-4h59m55s") 台パン その13
                                .button.button-play(data-voice="k-eOhINI4xk5h01m19s") じじぃふざけんな！
                                .button.button-play(data-voice="k-eOhINI4xk-0h16m11s") 簡単なことじゃないですか
                                .button.button-play(data-voice="k-eOhINI4xk-0h16m45s") では、よろしく
                                .button.button-play(data-voice="k-eOhINI4xk-2h22m22s") ほっぺ
                                .button.button-play(data-voice="k-eOhINI4xk-3h33m33s") 自己暗示
                    ul.example3
                        li.pre &#x524D;&#x3078;
                        li.this 1
                        li
                            a(href='index2.html') 2
                        li
                            a(href='index3.html') 3
                        li
                            a(href='index4.html') 4
                        li
                            a(href='index5.html') 5
                        li
                            a(href='index2.html') &#x6B21;&#x3078;
                .infoWrapper#infoWrapper
                    p
                        a(href='#', target='_blank')#fixedLink このボタンへのリンク

                .ad_wrapper
                    h2 advertisement
                    .ad-item
                        a(href="https://vggc.info/", target="_blank")
                            img(src="https://vggc.info/img/banner.png")
                            span ぶいすぽっ！ オンリー同人誌即売会 VGGC
                    .ad-item
                        a(href="https://holokle.info/", target="_blank")
                            img(src="https://holokle.info/img/banner.png")
                            span ホロライブオンリー同人誌即売会 ホロクル
            .mainFooter
                .credit
                    p 音声等の権利は、全て元権利者に帰属します。
                    p 音声以外の部分については、<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/deed.ja" target="_blank">CC-BY-NC-SA-4.0</a>に基づき提供されています。<br>
                        |ソースコードは<a href="https://github.com/p-knot/hinano-button/tree/master" target="_blank">こちら</a>。<br>お問い合わせ・追加したら面白そうなボイスがあれば
                        a(href="https://twitter.com/p_knot_vb", target="_blank") @p_knot_vb
                        |まで。
    script(src='./js/app.js')

    script(async, src="https://platform.twitter.com/widgets.js", charset="utf-8")
